<h1>Merhaba <%= user.name %></h1>
<h2><%= users.map(index=>index.name) %></h2>
<h2><%= users.map(index=>index.status) %></h2>
<button>
  <a href="/dashboard"> Broadcast </a>
</button>
<button>
  <a href="/users/logout"> Logout</a>
</button>
